*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    width: 1150px;
    margin: 0 auto;
}


/*==============
top-header
===============*/
#top-header {
    background-color: #096563;
    min-height: 35px;
}

#top-header .col-md-2, .col-md-3{
    float: left;
    border-right: 1px solid;
    border-color: orange;
    padding-top: 13px;
}

.quick-call .fa, .f-link .fa{
    color: rgb(241, 165, 0);
    padding-right: 10px;
    padding-top: 10px;
}

#quick-contact span,a{
    color: white;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
}
#quick-contact a:hover{
    color: rgb(241, 165, 0);
    text-combine-upright: hello;
}
@media(max-width:991px){
    #top-header .col-md-2, .col-md-3{
        width: 100%;
        border: none;
    }
    #top-header .col-md-3{
        border-top:1px solid;
        border-color: orange;
    }
}



/*================
HEADER START
================*/
.site-header{
    padding-top: 20px;
    background: transparent;
}
.site-header .first-td{
    text-align: center;
}
.site-header .first-td h2{
    padding-bottom: 15px; 
    color: #663683; 
    font-size: 45px;
    font-family: 'Abril Fatface', cursive;
    overflow: hidden;
}

.site-header .logo-1,.logo-2{
    width: 20%;
    float: left;
}
.site-header .text{
    width: 60%;
    float: left;
    text-align: center;
    margin-top: -35px;
    
}
.site-header .text p{
    font-size: 28px;
    color:#214B7C ;
    margin-top: 47px;
    font-family: 'Josefin Slab', serif;
    
    
}
.site-header .text h3{
    overflow: hidden;
    color: #177F6E;
}
.site-header .logo-1{
    text-align: left;
}
.site-header .logo-1 img{
    width: 50%;
    text-align: center;
    margin: 5px;
}
.site-header .logo-2{
    text-align: right;
}
.site-header .logo-2 img{
    width: 60%;
    text-align: center;
    margin: 5px;
}
@media(max-width:850px){
    .site-header .text p{
        font-size: 26px;
        margin-top: 0px;
    }
    .site-header .text{
        margin-top: 0px;
    }
}
/*============complite ==============*/


#menu-area{
    background-color: #096563;
    border-bottom: 5px solid;
    border-color: rgb(108, 138, 0);
}

#menu-area .btn{
    color: white;
    border-radius: 5px;
    border-color: white;
}
#menu-area .btn:hover{
    background-color: rgb(108, 138, 0);
    border: none;
}
#menu-area .nav-item{
    margin: 5px 0;
}
#menu-area .nav-link{
    color: white;
    padding-left: 5px;
}

#menu-area .nav-item:hover{
    background-color:rgb(108, 138, 0) ;
}




/*===============
=====================
======= Home Page =======*/

/*==== content Area ====*/
#content-area{
    padding-top: 10px;
}
#content-area .col-md-9{
    float: left;
}
#content-area h3{
    color: #214B7C; 
    font-family: 'Josefin Slab'
}
.left-content img{
    width: 100%;
}
.left-content p{
    text-align: justify; 
    line-height: 2rem; 
    size: 3; 
    padding-inline-end: 15px; 
    padding-block: 30px;
}
#content-area .col-md-3{
    margin: 0;
    padding: 0;
    border: none;
}
.right-content *{
    padding-left: 10px;
    overflow: hidden;
}
.right-content p{
    font-size: 20px;
    background-color: #177F6E;
    padding-left: 10px;
    color: white;
    padding: 5px;
    border-left: 5px solid;
    border-color: rgb(221, 163, 2);
    border-bottom-left-radius: 5px;
    font-style: italic;
}
.first_section ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.first_section i{
    color:#ffab1f; 
    padding-left: 0;
}
.first_section i a{
    color: #0D8643;
    font-size: 17px;
    font-weight: bold;
}
.first_section span{
    background: #fff9c0;
    margin-left: 20px;
    justify-content: first baseline;
}

#ss_text p,#tr-text p{
    color: green;
    font-size: 18px;
    background: none;
    border: none;
    font-weight: bold;
}
#ss_text li, #tr-text li{
    color: #89958e;
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;

}

#tr-text text{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}
@media(max-width:992px){
    .left-content{
        margin:0 10px;

    }
    .right-content{
        margin-right: 20px;
    }
}

/*====== Footer Area =======*/
.footer{
    background-color: #096563;
    min-height: 35px;
    text-align: center;
}
.footer p{
    color: white;
    padding-top: 20px;
}
.footer p span{
    color: rgb(255, 153, 0);
}